.movie-card {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.movie-card__poster {
  background-color: grey;
  height: 10em;
  width: 8em;
  border-radius: $card-border-radius;
  box-shadow: $poster-shadow;
}
