.movie-card {
  display: flex;
  flex-direction: row;
  & > div {
    padding: 1em;
  }
}

.movie-card__container {
  margin: 1em 0;
}

.movie-card__poster-col {
  width: 10em;
  @include breakpoint-max($screen-width-xl) {
    display: none;
  }
}

.movie-card__poster-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: $empty;
  height: 11em;
  width: 8em;
  border-radius: $card-border-radius;
  box-shadow: $poster-shadow;
  object-fit: fill;
}

.movie-card__info-col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .movie-title {
    @include header-text;
  }
  .plot {
    @include body-text;
    margin-bottom: 1em;
  }
  .rating-container {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-bottom: 0.5em;
    .star {
      height: 0.8em;
      margin-top: 0.35em;
      margin-right: 0.5em;
    }
  }
}

.movie-card__button-group {
  & > button {
    float: right;
  }
}
