.movie-card {
  display: grid;
  grid-template-columns: 10em 1fr;
  div {
    padding: 1em;
  }
}

.movie-card__poster-col {
}

.movie-card__poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  height: 11em;
  width: 8em;
  border-radius: $card-border-radius;
  box-shadow: $poster-shadow;
}
