.shared-nominations__page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 3em 0;
}

.shared-nominations__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.shared-nominations__logo-container {
  @include logo;
  margin-bottom: 1em;
}

.shared-nominations__title-container {
  padding: 2em;
  .title {
    @include display-text;
  }
}

.shared-nominations__button-container {
  padding: 2em;
}

.shared-nominations__graphic {
  text-align: center;
  h1 {
    @include display-sm-text;
  }
  p {
    margin-top: 1em;
    @include body-text;
  }
}
