@mixin breakpoint-min($min-width) {
  @media (min-width: #{$min-width}) {
    @content;
  }
}

@mixin breakpoint-max($max-width) {
  @media (max-width: #{$max-width}) {
    @content;
  }
}

@mixin header-text {
  font-size: $heading-font-size;
  line-height: $heading-line-height;
  font-weight: $heading-font-weight;
}

@mixin body-text {
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: $body-font-weight;
}
