@mixin breakpoint-min($min-width) {
  @media (min-width: #{$min-width}) {
    @content;
  }
}

@mixin breakpoint-max($max-width) {
  @media (max-width: #{$max-width}) {
    @content;
  }
}

@mixin display-lg-text {
  font-size: $display-lg-font-size;
  line-height: $display-lg-line-height;
  font-weight: $display-lg-font-weight;
}

@mixin display-text {
  font-size: $display-font-size;
  line-height: $display-line-height;
  font-weight: $display-font-weight;
}

@mixin header-text {
  font-size: $heading-font-size;
  line-height: $heading-line-height;
  font-weight: $heading-font-weight;
}

@mixin body-text {
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: $body-font-weight;
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
