.card {
  background-color: $card-bg-color;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  .inner-container {
    height: 100%;
    width: 100%;
    padding: $card-padding;
  }
  .tint {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
