.nomination-card__container {
  margin-bottom: 2em;
  height: 6.5em;
  width: 100%;
  .title {
    @include header-text;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .subtitle {
    @include body-text;
    color: white;
  }
  .grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 80% 1fr;

    .delete-column {
      margin-right: 1em;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        height: 2em;
        width: 2em;
      }
    }
    @include breakpoint-min($screen-width-lg) {
      .delete-column {
        margin-right: 0;
        margin-left: auto;
        display: block;
        img {
          height: 1.5em;
          width: 1.5em;
        }
      }
    }
  }
}
