.search-col-wrapper {
  padding: 0 1em;
  max-width: 100vw;
  @include breakpoint-min($screen-width-xl) {
    height: 100vh;
    padding: 0 10em 0 1em;
    overflow-y: scroll;
  }

  @include hide-scrollbar;
  .logo-text {
    margin-bottom: 2em;
  }

  .title {
    @include display-lg-text;
    margin-bottom: 0.5em;
  }

  .body {
    @include body-text;
    margin-bottom: 1em;
  }
}

.search-col-wrapper__header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.search-col__logo-container {
  @include logo;
}

.header__avatar {
  display: block;
  @include breakpoint-min($screen-width-lg) {
    display: none;
  }
}

.results-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-col__results--loading {
  display: flex;
  justify-content: center;
  padding-top: 6em;
}

.search-col__results--empty {
  padding-top: 2em;
  text-align: center;
  p {
    @include display-sm-text;
  }
}
