.search-col-wrapper {
  .logo-text {
    margin-bottom: 2em;
  }

  .title {
    @include display-lg-text;
    margin-bottom: 0.5em;
  }

  .body {
    @include body-text;
    margin-bottom: 1em;
  }
}
