.search-col-wrapper {
  @include breakpoint-min($screen-width-lg) {
    height: 100vh;
    overflow-y: scroll;
  }

  @include hide-scrollbar;
  .logo-text {
    margin-bottom: 2em;
  }

  .title {
    @include display-lg-text;
    margin-bottom: 0.5em;
  }

  .body {
    @include body-text;
    margin-bottom: 1em;
  }
}
