.nomination-col-wrapper {
  padding: 0 1em;
  max-width: 100vw;
}

.nomination-col-wrapper--populated {
  border-bottom: 1.5em solid $accent;
}

.nomination-col__header-container {
  display: none;
  @include breakpoint-min($screen-width-lg) {
    display: block;
  }
}

.nomination-progress {
  padding-bottom: 0.5em;
  @include header-text;
}
