.username-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  p {
    @include header-text;
    margin-left: 1em;
    line-height: 2em;
    display: none;
    @include breakpoint-min($screen-width-sm) {
      display: inline-block;
    }
  }
  button {
    margin-left: 1em;
  }
}
