.home-wrapper {
  display: flex;
  flex-direction: column;
}
.home-wrapper__body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  @include breakpoint-min($screen-width-lg) {
    grid-template-columns: 75% 25%;
  }
}

.details-modal__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: $empty;
  height: 12em;
  width: 100%;
  border-radius: $card-border-radius;
  box-shadow: $poster-shadow;
  object-fit: cover;
}
