.home-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  @include breakpoint-min($screen-width-lg) {
    grid-template-columns: 70% 1fr;
  }
  @include breakpoint-min($screen-width-xl) {
    grid-template-columns: 60% 1fr;
  }
  .section {
    padding: $section-padding;
  }
}
